/*No usar etiquetas unicas para dar estilos, prioricen usar las class o id*/
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*=============================================================================================================================*/
/*SECCION MAIN*/
/*DANIELA*/
.principal{
    width: auto; height: 550px;
    font-family: Hind,sans-serif;
    background-image: url('../Imagenes/Index/main.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
    margin: auto;
}

#contenedor {
    position: relative;
    display: grid;
    top: 60px;
    margin: 0px 3px;
    border-radius: 20px;
    margin: auto;
    width: 1050px; height: 50%;
    background-color:rgba(72,69,64,.5);
    justify-content: center;
}

#header{
    padding-top: 30px;
    font-size: 20px;
    text-align: center;
    background-color: transparent;
    color: white;
}


.precontenedor{
    padding: 0;
    margin: 0;
    border: 0;
    display: flex;
}

.precontenedor>div{
    margin-bottom: 89px;
}

/*Lista*/
#select {
    width: 200px; 
    height: 56px;
    padding: 10px;
    border-radius: 0 0 0 22px;
    text-indent: 1px;
    cursor: pointer;
    appearance: none;
    background: rgb(255, 255, 255);
    border-color: white;
    border-right-color: gray;
    font-size: 15px;
    outline: none;
    color: gray;
    text-overflow: ellipsis;
}



/*buscador*/
.buscador{
    padding: 15px;
    width: 450px; 
    height: 26px;
    border: transparent;
    outline: none;
}

.boton4{
    width: 150px; 
    height: 55px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    appearance: none;
    background-color: rgb(175, 30, 30);
    border-radius: 0 22px 22px 0;
    border: white;
    color: white;
    font-weight: bold;
}

.boton4:hover{
    background-color: rgb(228, 41, 41);
}
.operacion{
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 380px;
}

.boton1,
.boton2,
.boton3{
    width: 150px; 
    height: 55px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
}


.boton1{
    border-radius: 22px 0 0 0;
    border: white;
}

.boton2{
    border-radius: 0 0 0 0;
    border: white;
    box-shadow: 0px 0px 2px 0px gray;
}

.boton3{
    border-radius: 0 22px 0 0;
    border: white;
    box-shadow: 0px 0px 2px 0px gray;
}

.boton1:focus,
.boton2:focus,
.boton3:focus{
    background-color: white;
}

.boton1:hover,
.boton2:hover,
.boton3:hover{
    background-color: white;
}

/*parte del logo*/
.publicidad{
    display: flex;
    width: 500px;
    height: 75px;
    background-color:rgba(36, 34, 31, 0.678);
    margin-top: 150px;
    margin-left: 75px;
    padding: 5px;
    border-radius: 5px;
}

.publicidad>div>a,
.publicidad>div>a>p,
.publicidad>div>a>h4{
    text-decoration: none;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 12px;
    width: 110%;
    padding: 0 5px;
}

.publicidad>div>a>img{
    width: 90%;
    height: 100%;
}

/*seccion de ayuda*/
.get-help {
    float: right;
    color: #fff;
    width: 200px; 
    height: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #3a0c3d;
    border-radius: 25px 25px 0 0;
    font-size: 15px;
    margin-right: 100px;
    margin-top: -6px;

}

.icono{
    color: red;
}

.get-help>a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}





/*=============================================================================================================================*/
section {
    padding: 10px 80px;
}

/*SECCION SECCION1*/

.secion1 {
    display: grid;
    padding: 150px 0;
    text-align: center;
    justify-content: center;
    background-image: url('../Imagenes/Index/main.png');
    background-position: center;
    background-repeat: repeat-x repeat-y;
}

.secion1>h2 {
    font-size: 30px;
    width: 650px;
    padding-bottom: 10px;
}

.secion1>button {
    width: 30%;
    margin: 20px 34%;
}

/*Boton*/
.verPropiedades {
    cursor: pointer;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50px;
    --color: #6e7bef;
    --hover: #c66eef;
    box-shadow: 0em 0em 0.5em 0.3em #6e7bef;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.verPropiedades:hover {
    border-color: var(--hover);
    color: #c66eef;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

/*=============================================================================================================================*/
/*SECCION SECCION2*/
.seccion2 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.seccion2>h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: normal;
    justify-content: center;
}

.seccion2>div {
    display: flex;
}

.seccion2>div>div {
    padding: 0 15px;
}

#logs {
    width: 250px;
    height: 250px;
}

.seccion2>div>div>p>a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #349fa7;
}

.seccion2>div>div>p>a:hover {
    color: #47d8e2;
}

.seccion2>div>div>p {
    padding: 10px 15px;
}

/*=============================================================================================================================*/
/*SECCION SECCION3*/
.seccion3 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.seccion3>div {
    display: flex;
    padding-bottom: 30px;
}

#imags {
    width: 385px;
    height: 250px;
    border-radius: 15px;
}

.seccion3>div>div {
    padding: 0 15px;
}

.seccion3>div>div>h3 {
    text-align: center;
    padding: 15px 0;
}

.seccion3>div>div>button {
    width: 60%;
    margin: 0 20%;
}

/*Botones*/
.ComVenAlq {
    box-shadow: 0.3em 0.3em 0 0 #19bc8b,
        inset 0.3em 0.3em 0 0 #19bc8b;
    cursor: pointer;
    color: #19bc8b;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50px;
}

.ComVenAlq:hover {
    box-shadow: 0em 0em 0.5em 0.2em #19bc8b,
        inset 6em 3.5em 0 0 #128d68;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*=============================================================================================================================*/
/*SECCION SECCION4*/
.seccion4 {
    display: grid;
    padding: 0;
    margin: 0;
    background: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
}

.seccion4>div {
    display: flex;
    position: relative;
    margin-top: 4em;
    margin-bottom: 3em;
    margin-right: 100px;
    padding: 0 2px;
    width: 100%;
}

.seccion4>div>div {
    width: 30%;
    padding: 0 15px;
}

.seccion4>div>div>a {
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 13px;
}

.seccion4>div>div>div>a {
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 13px;
}

.seccion4>div>div>label{
    font-weight: bold;
    font-size: 13px;
}

.seccion4>div>div>h3 {
    padding-bottom: 15px;
}

/*Configuracion tipo lista*/
/* Ocultar botón radio */
#populares[id^="populares"],
#venta[id^="venta"],
#alquiler[id^="alquiler"],
#zonas[id^="zonas"] {
    display: none;
}

/* Estilo botón clicable */
#populares[id^="populares"]+.label_populares,
#venta[id^="venta"]+.label_venta,
#alquiler[id^="alquiler"]+.label_alquiler,
#zonas[id^="zonas"]+.label_zonas {
    width: 80%;
    display: block;
    cursor: pointer;
}

/* Estilo botón cuando su INPUT está seleccionado */
#populares[id^="populares"]:checked+.label_populares,
#venta[id^="venta"]:checked+.label_venta,
#alquiler[id^="alquiler"]:checked+.label_alquiler,
#zonas[id^="zonas"]:checked+.label_zonas {
    display: block;
}

/*Ocultar ver menos*/
.label_populares_menos,
.label_venta_menos,
.label_alquiler_menos,
.label_zonas_menos{
    cursor: pointer;
    display: none;
}

/* Estilo caja SPOILER (inicialmente oculto) */
#populares[id^="populares"]~.populares,
#venta[id^="venta"]~.venta,
#alquiler[id^="alquiler"]~.alquiler,
#zonas[id^="zonas"]~.zonas {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

/* Estilo caja SPOILER cuando su INPUT está seleccionado */
#populares[id^="populares"]:checked+.label_populares+.populares,
#venta[id^="venta"]:checked+.label_venta+.venta,
#alquiler[id^="alquiler"]:checked+.label_alquiler+.alquiler,
#zonas[id^="zonas"]:checked+.label_zonas+.zonas {
    height: auto;
    opacity: 1;
}

/*=============================================================================================================================*/