/*No usar etiquetas unicas para dar estilos, prioricen usar las class o id*/
*{
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*=============================================================================================================================*/
/*SECCION FORMULARIOS*/
.General{
    width: 1200px;
    min-width: auto;
}

.Formulario_lateral{
    background-color: white;
    width: 22%;
    height: 1900px;/***/
    text-align: center;
    float: left;
    margin: 30px;
    border-radius: 10px;
}

.form_general{
    border-radius: 10px;
    background-color: rgb(68, 0, 68);
}

.form_general>h4{
    padding: 5px 0;
    color: white;
    text-align: left;
    margin: 0 15px;
    font-size: 13px;
}

.botones_arriba{
    background-color: rgb(49, 1, 49);
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 10px;
}

.botones_arriba>button{
    display: inline;
    border: transparent;
    outline: none;
    cursor: pointer;
    width: 32.3%;
    padding: 15px 0;
    background-color: rgb(49, 1, 49);
    color: rgba(255, 255, 255, 0.425);
    border-radius: 10px 10px 10px 10px;
}

.botones_arriba>button:hover{
    color: white;
}

.botones_arriba>button:focus{
    background-color: rgb(68, 0, 68);
    color: white;
}

.botones_1:focus{
    border-radius: 10px 0 0 0;
}

.botones_2:focus{
    border-radius: 0 0 0 0;
}

.botones_3:focus{
    border-radius: 0 10px 0 0;
}

.titulo_form{
    display: flex;
    padding: 5px 0;
    color: white;
    text-align: left;
    margin: 0 15px;
    font-size: 13px;
    padding-bottom: 10px;
}

.titulo_form>i{
    margin-left: 5px;
}

.ubicacion{
    margin-right: 27%;
}

.buscador{
    padding: 15px 12px;
    border-radius: 10px;
    width: 80%;
    border: transparent;
    outline: none;
}

.boton_mapa{
    width: 88%;
    border: transparent;
    outline: none;
    border-radius: 10px;
    background-color: tomato;
    cursor: pointer;
    color: white;
    padding: 15px 0;
    margin: 15px 0;
}

.boton_mapa:hover{
    background-color: rgb(255, 137, 116);
}

.lista_habitaciones{
    display: flex;
    padding: 5px none;
}

.Contenedor_lista1,
.Contenedor_lista2,
.Contenedor_lista3,
.Contenedor_lista4,
.contenedor_bajoPrecio,
.contenedor_superficie{
    width: 95%;
    margin: auto;
    padding: 1px 0;
    position: relative;
}

.select1,
.select4{
    font-size: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin: 10px;
    padding: 10px;
    position: relative;
    z-index: 100;
    border: 2px solid transparent;
}

.select4{
    z-index: 96;
    margin-bottom: 20px;
}

.select2,
.select3,
.bajoPrecio,
.superficie{
    font-size: 12px;
    background: rgb(255, 255, 255);
    box-shadow: 0 0 0 black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .2s ease all;
    margin: 10px 15px;
    padding: 10px;
    position: relative;
    z-index: 98;
    border: 2px solid transparent;
}

.bajoPrecio,
.superficie{
    border: 1px solid gray;
    width: 80%;
    padding-top: 13px;
    padding-bottom: 13px;
}

.select1.active,
.select1:hover,
.select2.active,
.select2:hover,
.select3.active,
.select3:hover,
.select4.active,
.select4:hover,
.bajoPrecio.active,
.bajoPrecio:hover,
.superficie:active,
.superficie:hover{
    border: 1px solid tomato;
}

.select1>i,
.select2>i,
.select3>i,
.select4>i,
.bajoPrecio>i,
.superficie>i{
    font-size: 12px;
    padding: 8px 0;
    color: rgb(0, 0, 0);
}

.opciones1,
.opciones4{
    background: white;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(71, 114, 255);
    max-height: 300px;
    overflow: auto;
    z-index: 99;
    width: 95%;
    display: none;
}

.opciones4{
    z-index: 95;
}

.opciones2,
.opciones3{
    width: 80%;
    background: white;
    position: absolute;
    border-radius: 10px;
    border: 1px solid rgb(71, 114, 255);
    max-height: 300px;
    overflow: auto;
    z-index: 97;
    display: none;
}

.opciones_bajoPrecio{
    width: 12%;
    background: white;
    position: absolute;
    overflow: auto;
    z-index: 507;
    display: none;
    border: 1px solid rgb(163, 173, 207);
    border-radius: 10px;
}

.opciones_superficie{
    width: 20%;
    background: white;
    position: absolute;
    overflow: auto;
    z-index: 507;
    display: none;
    border: 1px solid rgb(163, 173, 207);
    border-radius: 10px;
}

.opciones1.active,
.opciones2.active,
.opciones3.active{
    display: block;
    animation: fedeIn .3s forwards;
}

.opciones4.active,
.opciones_bajoPrecio.active,
.opciones_superficie.active{
    display: block;
    animation: fedeIn4 .3s forwards;
}

.contenido_opcion1,
.contenido_opcion2,
.contenido_opcion3,
.contenido_opcion4,
.contenido_opcion_bajoPrecio,
.contenido_opcion_superficie{
    display: flex;
    align-items: center;
}

.opciones1 .contenido_opcion1,
.opciones2 .contenido_opcion2,
.opciones3 .contenido_opcion3,
.opciones3 .contenido_opcion4,
.opciones_bajoPrecio .contenido_opcion_bajoPrecio,
.opciones_superficie .contenido_opcion_superficie{
    padding: 15px;
}

.opciones1 .contenido_opcion1:hover,
.opciones2 .contenido_opcion2:hover,
.opciones3 .contenido_opcion3:hover,
.opciones_bajoPrecio .contenido_opcion_bajoPrecio:hover{
    background-color: rgb(230, 230, 230)   
}

.contenido_select1>p,
.contenido_select2>p,
.contenido_select3>p,
.contenido_select4>p,
.contenido_bajoPrecio>p,
.contenido_superficie>p{
    color: rgba(0, 0, 0, 0.466);

}

.opciones1>a,
.opciones2>a,
.opciones3>a,
.opciones4>a,
.opcion_bajoPrecio{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

@keyframes fedeIn {
    from{
        transform: translateY(-100px) scale(.5);
    }
    to{
        transform: translateY(0) scale(1);
    }
}

@keyframes fedeIn4 {
    from{
        transform: translateY(-50px) scale(.5);
    }
    to{
        transform: translateY(0) scale(1);
    }
}

/*Contenido de la lista 4*/
.contenido_opcion4,
.contenido_opcion_superficie{
    display: grid;
}

.contenido_opcion_superficie>fieldset>div,
.contenido_opcion_superficie>fieldset>.uno,
.contenido_opcion_superficie>fieldset>.uno>label{
    display: flex;

}

.contenido_opcion_superficie>fieldset>.uno>label{
    width: 40%;
}

.contenido_opcion_superficie>fieldset>.dos>label>input{
    width: 60%;
    padding: 10px;
    margin: 15px;
    border-radius: 10px;
    outline: none;
    border: 1px solid gray;
}

.contenido_opcion4>fieldset,
.contenido_opcion_superficie>fieldset>div>.dos{
    display: flex;
}

.contenido_opcion4>fieldset>label>input,
.contenido_opcion_superficie>fieldset>label>input{
    width: 58%;
    margin: 15px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
    outline: none;
}

.contenido_opcion4>div>button,
.contenido_opcion_superficie>div>button{
    margin: 15px;
    padding: 10px;
    border: 1px solid #f50;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgba(255, 85, 0, 0.89);
    color: white;
    font-size: 15px;
    font-weight: bold;
}

/*Formulario segundario*/

.from_secundario>div{
    padding-bottom: 30px;
}

.from_secundario>h4{
    font-size: 13px;
    text-align: left;
    padding-top: 30px;
}

fieldset{
    border: none;
}

.from_secundario>div>fieldset>label{
    display: block;
    text-align: left;
    padding-left: 15px;
    margin-top : 15px;
    font-size: 13px;
    color: rgb(99, 99, 99);

}


/*=============================================================================================================================*/
/*SECCION INFO PROPIEDADES*/
/*Raquel*/

.titulo_seccion{
    display: flex;
    align-items: center;
    padding-bottom: 20px;
}

.titulo_seccion>h3{
    padding-right: 8%;
}

.checkbox_seccion{
    align-items: center;
    display: flex;
    background-color: #cbd6dc;
    border-radius: 25px;
    padding-right: 15px;
    justify-content: center;
    margin-right: 3%;
    cursor: pointer;
}

.checkbox_seccion>i{
    padding-left: 10px;
    font-size: 18px;
}

.checkbox_seccion>div{
    background-color: #f50;
    padding: 10px;
    border-radius: 25px;
    color: whitesmoke;
}

.articulo {
    border: 1px solid #cbd6dc;
    border-radius: 12px;
    background: #f3f7f8;
    margin-bottom: 23px;
    width: 72%;
    max-width: 100%;
    display: grid;
    grid-template-areas: 
        "slider texto texto";
    grid-template-columns: 1.5fr 2fr 2fr;
}

.seccion{
    padding-top: 30px;

}

.lado-izq {
    grid-area: slider;
}

.lado-der {
    grid-area: texto;
    padding: 0px 15px;
}

.parte-superior, .parte-inferior, .zona-medio, .unir {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.parte-inferior {
    border-top: 1px solid #cbd6dc;
}

.zona-medio {
    font-size: 00.87rem;
    color: black;
}

.up1 {max-width: 100%; width: 20%;}
.up2 {max-width: 100%; width: 60%; border-left: 1px solid #cbd6dc; padding-left: 5px;}
.up3 {max-width: 100%; width: 20%;}

.up-des p {
    border: 1px solid #7c98a7;
    color: #7c98a7;
    background: white;
    border-radius: 15px;
    padding: 4px 10px;
    font-size: 12px;
    text-align: center;
}

.logo-construc {max-width: 100%; width: 50%;}
.icono2 {max-width: 100%; width: 50%; justify-content: flex-end;}

.icono2 div, .logo-construc div {
    margin: 0px 10px;
}

.contactar {
    background: #f50;
    border: 2px solid #f50;
    border-radius: 12px;
    font-weight: 600;
    padding: 0px 20px;
    line-height: 41px;
    font-size: 14px;
    cursor: pointer;
}

.contactar:hover{
    background: #ff7c3a;
}

.contactar a {
    color: white;
}

.whatsapp{
    color: green;
    font-size: 45px;
    cursor: pointer;
}

.whatsapp:hover{
    color: rgb(65, 139, 65);
}

.corazon {
    border: 3px solid #f50;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.corazon:hover,
.corazon:focus{
    background-color: rgb(240, 149, 104);
}

.precio, 
.up2>h3 {
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.articulo h2 {
    font-size: 0.87rem;
    color: black;
}

.articulo .unir img{
    width: 61%;
}

.destacado {
    font-size: 0.87rem;
    color: #7c98a7;
}

.contenedor-deslizar {
    width: 100%;
    max-width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.deslizar {
    display: flex;
    width: 400%;
    height: 226px;
    margin-left: -100%;
}

.deslizar-section-estilo {
    width: 100%;
}

.deslizar-img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    object-fit: cover;
}

.deslizar-btn {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    font-weight: bold;
    font-family: monospace;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #3a0c3d;
}

.deslizar-btn:hover {
    background: white;
    color: black;
}

.deslizar-btn-der {
    right: 10px;
}

.deslizar-btn-izq {
    left: 10px;
}

/*Pie de articulos*/
.pie_articulo{
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

.pie_articulo>i{
    color: #f50;
}

.pie_articulo>a{
    text-decoration: none;
}

.pie_articulo>div>a{
    display: flex;
    text-decoration: none;
    padding-left: 10px;
    color: gray;
}

.pie_articulo>div>a>i{
    padding: 0 10px;
    color: black;
}

.pie_articulo>div>a:hover{
    color: #f50;
}

/*=============================================================================================================================*/

.botones_pie_pagina,
.botones_pie_pagina>div{
    display: flex;
    justify-content: center;
}

.botones_pie_pagina{
    margin: 40px;
}

.botones_pie_pagina>button,
.botones_pie_pagina>div>button{
    padding: 16px 20px;
    border-radius: 30px;
    margin: 3px;
    border: none;
    cursor: pointer;
    background-color: white;
}

.botones_pie_pagina>button{
    border: 1px solid gray;
}

.botones_pie_pagina>button:hover,
.botones_pie_pagina>div>button:hover,
.botones_pie_pagina>button:focus,
.botones_pie_pagina>div>button:focus{
    border: 1px solid tomato;
}

div>.botones_baños,
div>.botones_estacionamientos{
    margin-top: 15px;
}

.botones_baños{
    display: flex;
    margin: 0 6%;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: center;
}

.botones_estacionamientos{
    display: flex;
    margin: 0 3.3%;
    border: 1px solid gray;
    border-radius: 10px;
    justify-content: center;
}

.botones_baños>button,
.botones_estacionamientos>button{
    padding: 7%;
    border: none;
    margin: none;
    background-color: white;
    cursor: pointer;
}

.botones_baños>button:hover,
.botones_baños>button:focus,
.botones_estacionamientos>button:hover,
.botones_estacionamientos>button:focus{
    background-color: #f50;
    color: white;
}

.btn_baños1,
.btn_estacionamientos1{
    border-radius: 9px 0 0 9px;
}

.btn_baños2{
    border-radius: 0 9px 9px 0;
}
