/*No usar etiquetas unicas para dar estilos, prioricen usar las class o id*/
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*=============================================================================================================================*/
/*SECCION MAIN*/
/*DANIELA*/
.principal{
    width: 1000px; height: 500px;
    font-family: Hind,sans-serif;
    background-image: url(https://tpc.googlesyndication.com/simgad/2105519694319498767?);
    margin: auto;
}

#contenedor {
    position: relative;
    top: 40px;
    margin: 0px 3px;
    border-radius: 20px;
    margin-left: 200px;
    width: 600px; height: 250px;
    background-color:rgba(72,69,64,.5);
}
#header{
    padding-top: 10px;
    text-align: center;
    background-color: transparent;
    color: white;
}
#contenedor #operacion{
    width: 600px; height: 60px;
}
#contenedor #operacion ul li {
    justify-content: center;
    align-items: center;
    list-style: none;
    float: left;
    background-color: transparent;
}
button{
    background-color: transparent;
    color: gray;
    border-bottom-color: transparent;
    border-color: transparent;
    padding-top: 30px;
    padding-left: 56px;
}
#boton1:hover{
    color:#dededf
 }
#boton1{
    margin: -40px;
    margin-top: 5px;
    width: 150px; height: 46px;
    padding: 3px;
    background-color:white;
    border-radius: 22px 0px 0px 0px;   
   
}
#boton2:hover{
    color:#dededf
 }
#boton2{
    margin-top: 5px;
    margin-left: -20px;
    width: 150px; height: 46px;
    padding: 3px;
    background-color:white;
    border-radius: 0px 0px 0px 0px;   
    justify-content: center;
    align-items: center;
}
#boton3:hover{
    color:#dededf
 }
#boton3{
    margin-left: -60px;
    margin-top: 5px;
    width: 150px; height: 46px;
    padding: 3px;
    background-color:white;
    border-radius: 0px 22px 0px 0px;  
    justify-content: center;
    align-items: center;
}
#precontenedor{
    margin: -28.2px;
    float:inline-end;
    padding: 3px;
    color: gray;
    border-radius: 0px 0px 0px 0px;   
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
#select {
    margin-left: 44px;
    min-width: 150px;
    height: 47px;
    padding: 10px;
    border-radius: 0 0 0 22px;
    text-indent: 1px;
    color: gray;
    text-overflow: ellipsis;
    cursor: pointer;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: #fff;
}
input{
    padding: 10px;
    margin-left: -5px;
    width: 250px; height: 25.9px;
    border: transparent;
}
#boton4{
    padding: 15.99px;
    margin-left: -61.9px;
    width: 80px; height: 14.3px;
    background-color:rgb(235, 93, 12);
    border-radius: 0px 22px 22px 0px;   
    
}
#boton4:hover{
    color:#dededf
 }
#publicidad{
    margin: 0 auto;
    color: gray;
    background-color:rgba(72,69,64,.5);
    margin-top: 135px;
    margin-left: 200px;
    padding: 5px;
    width: 440px; height: 60px;
}
background-logo {
    position: absolute;
    bottom: -100px;
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transform: translateX(-100px);
    border-radius: 5px;
    background-color: rgba(47,56,51,0.5);
    padding: 10px;
    padding-bottom: 8px;
    text-decoration: none;
}
.background-logo .logo-img img {
    width: auto;
    height: auto;
    min-height: 59px;
    max-height: 59px;
    margin-right: 15px;
}
.background-logo .logo-text {
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: white;
    vertical-align: top;
}
#get-help {
    float: right;
    margin: -1px; 
    color: #fff;
    width: 170px; height: 46px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #3a0c3d;
    border-radius: 25px 25px 0 0;
    font-weight: 100;
    font-size: 14px;
}





/*=============================================================================================================================*/
section {
    padding: 10px 80px;
}

/*SECCION SECCION1*/
.secion1 {
    display: grid;
    padding: 150px 0;
    text-align: center;
    justify-content: center;
}

.secion1>h2 {
    font-size: 30px;
    width: 650px;
}

.secion1>button {
    width: 30%;
    margin: 20px 34%;
}

/*Boton*/
.verPropiedades {
    cursor: pointer;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50px;
    --color: #6e7bef;
    --hover: #c66eef;
}

.verPropiedades:hover {
    border-color: var(--hover);
    color: #c66eef;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

/*=============================================================================================================================*/
/*SECCION SECCION2*/
.seccion2 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.seccion2>h3 {
    padding-bottom: 20px;
    font-weight: normal;
    justify-content: center;
}

.seccion2>div {
    display: flex;
}

.seccion2>div>div {
    padding: 0 15px;
}

#logs {
    width: 250px;
    height: 250px;
}

.seccion2>div>div>p>a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #349fa7;
}

.seccion2>div>div>p>a:hover {
    color: #47d8e2;
}

.seccion2>div>div>p {
    padding: 10px 15px;
}

/*=============================================================================================================================*/
/*SECCION SECCION3*/
.seccion3 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.seccion3>div {
    display: flex;
    padding-bottom: 30px;
}

#imags {
    width: 345px;
    height: 250px;
    border-radius: 15px;
}

.seccion3>div>div {
    padding: 0 15px;
}

.seccion3>div>div>h3 {
    text-align: center;
    padding: 15px 0;
}

.seccion3>div>div>button {
    width: 60%;
    margin: 0 20%;
}

/*Botones*/
.ComVenAlq {
    box-shadow: 0.3em 0.3em 0 0 #19bc8b,
        inset 0.3em 0.3em 0 0 #19bc8b;
    cursor: pointer;
    color: #19bc8b;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50px;
}

.ComVenAlq:hover {
    box-shadow: 0em 0em 0.5em 0.2em #19bc8b,
        inset 6em 3.5em 0 0 #128d68;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*=============================================================================================================================*/
/*SECCION SECCION4*/
.seccion4 {
    display: grid;
    padding: 0;
    margin: 0;
    background: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
}

.seccion4>div {
    display: flex;
    position: relative;
    margin-top: 4em;
    margin-bottom: 3em;
    margin-right: 100px;
    padding: 0 2px;
    width: 100%;
}

.seccion4>div>div {
    width: 30%;
    padding: 0 15px;
}

.seccion4>div>div>a {
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 13px;
}

.seccion4>div>div>div>a {
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 13px;
}

.seccion4>div>div>label{
    font-weight: bold;
    font-size: 13px;
}

.seccion4>div>div>h3 {
    padding-bottom: 15px;
}

/*Configuracion tipo lista*/
/* Ocultar botón radio */
#populares[id^="populares"],
#venta[id^="venta"],
#alquiler[id^="alquiler"],
#zonas[id^="zonas"] {
    display: none;
}

/* Estilo botón clicable */
#populares[id^="populares"]+.label_populares,
#venta[id^="venta"]+.label_venta,
#alquiler[id^="alquiler"]+.label_alquiler,
#zonas[id^="zonas"]+.label_zonas {
    width: 80%;
    display: block;
    cursor: pointer;
}

/* Estilo botón cuando su INPUT está seleccionado */
#populares[id^="populares"]:checked+.label_populares,
#venta[id^="venta"]:checked+.label_venta,
#alquiler[id^="alquiler"]:checked+.label_alquiler,
#zonas[id^="zonas"]:checked+.label_zonas {
    display: block;
}

/*Ocultar ver menos*/
.label_populares_menos,
.label_venta_menos,
.label_alquiler_menos,
.label_zonas_menos{
    cursor: pointer;
    display: none;
}

/* Estilo caja SPOILER (inicialmente oculto) */
#populares[id^="populares"]~.populares,
#venta[id^="venta"]~.venta,
#alquiler[id^="alquiler"]~.alquiler,
#zonas[id^="zonas"]~.zonas {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

/* Estilo caja SPOILER cuando su INPUT está seleccionado */
#populares[id^="populares"]:checked+.label_populares+.populares,
#venta[id^="venta"]:checked+.label_venta+.venta,
#alquiler[id^="alquiler"]:checked+.label_alquiler+.alquiler,
#zonas[id^="zonas"]:checked+.label_zonas+.zonas {
    height: auto;
    opacity: 1;
}


/*=============================================================================================================================*/