/*No usar etiquetas unicas para dar estilos, prioricen usar las class o id*/
* {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*=============================================================================================================================*/
/*SECCION MAIN*/
/*DANIELA*/





/*=============================================================================================================================*/
section {
    padding: 10px 80px;
}

/*SECCION SECCION1*/

.secion1 {
    display: grid;
    padding: 150px 0;
    text-align: center;
    justify-content: center;
    background-image: url('../Imagenes/Index/main.png');
    background-position: center;
    background-repeat: repeat repeat;
}

.secion1>h2 {
    font-size: 30px;
    width: 650px;
    padding-bottom: 10px;
}

.secion1>button {
    width: 30%;
    margin: 20px 34%;
}

/*Boton*/
.verPropiedades {
    cursor: pointer;
    color: var(--color);
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50px;
    --color: #6e7bef;
    --hover: #c66eef;
    box-shadow: 0em 0em 0.5em 0.3em #6e7bef;
    -webkit-transform: translateY(-0.25em);
    transform: translateY(-0.25em);
}

.verPropiedades:hover {
    border-color: var(--hover);
    color: #c66eef;
    -webkit-animation: pulse 1s;
    animation: pulse 1s;
    box-shadow: 0 0 0 2em rgba(255, 255, 255, 0);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 var(--hover);
    }
}

/*=============================================================================================================================*/
/*SECCION SECCION2*/
.seccion2 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.seccion2>h3 {
    padding-top: 30px;
    padding-bottom: 20px;
    font-weight: normal;
    justify-content: center;
}

.seccion2>div {
    display: flex;
}

.seccion2>div>div {
    padding: 0 15px;
}

#logs {
    width: 250px;
    height: 250px;
}

.seccion2>div>div>p>a {
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    color: #349fa7;
}

.seccion2>div>div>p>a:hover {
    color: #47d8e2;
}

.seccion2>div>div>p {
    padding: 10px 15px;
}

/*=============================================================================================================================*/
/*SECCION SECCION3*/
.seccion3 {
    display: grid;
    justify-content: center;
    align-items: center;
}

.seccion3>div {
    display: flex;
    padding-bottom: 30px;
}

#imags {
    width: 385px;
    height: 250px;
    border-radius: 15px;
}

.seccion3>div>div {
    padding: 0 15px;
}

.seccion3>div>div>h3 {
    text-align: center;
    padding: 15px 0;
}

.seccion3>div>div>button {
    width: 60%;
    margin: 0 20%;
}

/*Botones*/
.ComVenAlq {
    box-shadow: 0.3em 0.3em 0 0 #19bc8b,
        inset 0.3em 0.3em 0 0 #19bc8b;
    cursor: pointer;
    color: #19bc8b;
    -webkit-transition: 0.25s;
    transition: 0.25s;
    background: none;
    border: 2px solid;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 2em;
    border-radius: 50px;
}

.ComVenAlq:hover {
    box-shadow: 0em 0em 0.5em 0.2em #19bc8b,
        inset 6em 3.5em 0 0 #128d68;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/*=============================================================================================================================*/
/*SECCION SECCION4*/
.seccion4 {
    display: grid;
    padding: 0;
    margin: 0;
    background: rgb(247, 247, 247);
    justify-content: center;
    align-items: center;
}

.seccion4>div {
    display: flex;
    position: relative;
    margin-top: 4em;
    margin-bottom: 3em;
    margin-right: 100px;
    padding: 0 2px;
    width: 100%;
}

.seccion4>div>div {
    width: 30%;
    padding: 0 15px;
}

.seccion4>div>div>a {
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 13px;
}

.seccion4>div>div>div>a {
    display: block;
    text-decoration: none;
    padding-bottom: 5px;
    font-size: 13px;
}

.seccion4>div>div>label{
    font-weight: bold;
    font-size: 13px;
}

.seccion4>div>div>h3 {
    padding-bottom: 15px;
}

/*Configuracion tipo lista*/
/* Ocultar botón radio */
#populares[id^="populares"],
#venta[id^="venta"],
#alquiler[id^="alquiler"],
#zonas[id^="zonas"] {
    display: none;
}

/* Estilo botón clicable */
#populares[id^="populares"]+.label_populares,
#venta[id^="venta"]+.label_venta,
#alquiler[id^="alquiler"]+.label_alquiler,
#zonas[id^="zonas"]+.label_zonas {
    width: 80%;
    display: block;
    cursor: pointer;
}

/* Estilo botón cuando su INPUT está seleccionado */
#populares[id^="populares"]:checked+.label_populares,
#venta[id^="venta"]:checked+.label_venta,
#alquiler[id^="alquiler"]:checked+.label_alquiler,
#zonas[id^="zonas"]:checked+.label_zonas {
    display: block;
}

/*Ocultar ver menos*/
.label_populares_menos,
.label_venta_menos,
.label_alquiler_menos,
.label_zonas_menos{
    cursor: pointer;
    display: none;
}

/* Estilo caja SPOILER (inicialmente oculto) */
#populares[id^="populares"]~.populares,
#venta[id^="venta"]~.venta,
#alquiler[id^="alquiler"]~.alquiler,
#zonas[id^="zonas"]~.zonas {
    height: 0;
    overflow: hidden;
    opacity: 0;
}

/* Estilo caja SPOILER cuando su INPUT está seleccionado */
#populares[id^="populares"]:checked+.label_populares+.populares,
#venta[id^="venta"]:checked+.label_venta+.venta,
#alquiler[id^="alquiler"]:checked+.label_alquiler+.alquiler,
#zonas[id^="zonas"]:checked+.label_zonas+.zonas {
    height: auto;
    opacity: 1;
}


/*=============================================================================================================================*/